  <!-- header start -->
  <header class="header header__style-one">
    <div class="header__top-info-wrap d-none d-lg-block">
        <div class="container">
            <div class="header__top-info ul_li_between mt-none-10">
                <ul class="ul_li mt-10">
                    <li><i class="far fa-map-marker-alt"></i>Store Location</li>
                    <li><i class="far fa-truck"></i>Track Your Order</li>
                    <li><i class="fas fa-phone"></i>Call Us For Enquiry</li>
                    <li><i class="fas fa-heart"></i>Welcome to Radios. We provides Best Electronics item</li>
                </ul>
                <div class="header__top-right ul_li mt-10">
                    <div class="date">
                        <i class="fal fa-calendar-alt"></i> Friday, July 27, 2020
                    </div>
                    <div class="header__social ml-25">
                        <a href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a href="#!"><i class="fab fa-twitter"></i></a>
                        <a href="#!"><i class="fab fa-instagram"></i></a>
                        <a href="#!"><i class="fab fa-youtube"></i></a>
                        <a href="#!"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__middle ul_li_between justify-content-xs-center">
            <div class="header__logo">
                <a href="index.html">
                    <img src="assets/img/logo/logo.svg" alt="">
                </a>
            </div>
            <form class="header__search-box" action="#">
    <div class="select-box">
      <select id="category" name="category">
        <option value="">All Categories</option>
        <option value="4">Summer collections</option>
        <option value="5">Breakfast & Dairy</option>
        <option value="6">Beverage & Drinks</option>
        <option value="7">Cocolate Box</option>
        <option value="8">Dried Food Corner</option>
        <option value="9">Frozen Foods</option>
        <option value="10">Baby Food Corner</option>
        <option value="11">Milk & Juices</option>
        <option value="12">Organic & Snacks</option>
      </select>
    </div>
    <input type="text" name="search" id="search" placeholder="Search For Products"
      required />
    <button type="submit"><i class="far fa-search"></i>
    </button>
  </form>
            <div class="header__lang ul_li">
                <div class="header__language mr-15">
                    <ul>
                        <li><a href="#!" class="lang-btn">USD <i class="far fa-chevron-down"></i></a>
                            <ul class="lang_sub_list">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">BDT</a></li>
                                <li><a href="#">EUR</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="header__language">
                    <ul>
                        <li><a href="#!" class="lang-btn"><img src="assets/img/icon/usd_flag.png" alt="">English <i class="far fa-chevron-down"></i></a>
                            <ul class="lang_sub_list">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Arabic</a></li>
                                <li><a href="#">Bangla</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header__icons ul_li">
                <div class="icon">
                    <a href="#!"><img src="assets/img/icon/user.svg" alt=""></a>
                </div>
                <div class="icon wishlist-icon">
                    <a href="#!">
                        <img src="assets/img/icon/heart.svg" alt="">
                        <span class="count">0</span>
                    </a>
                </div>
                <div class="cart_btn icon">
                    <img src="assets/img/icon/shopping_bag.svg" alt="">
                    <span class="count">0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header__cat-wrap" data-uk-sticky="top: 250; animation: uk-animation-slide-top;">
        <div class="container">
            <div class="header__wrap ul_li_between">
                <div class="header__cat ul_li" >
                    <div class="hamburger_menu">
                        <a href="javascript:void(0);" class="active">
                            <div class="icon bar">
                                <span><i class="fal fa-bars"></i></span>
                            </div>
                        </a>
                    </div>
                    <ul class="category ul_li">
                        <li><a href="#!"><span><img src="assets/img/icon/hc_01.svg" alt=""></span>Laptops & Computers</a></li>
                        <li><a href="#!"><span><img src="assets/img/icon/hc_02.svg" alt=""></span>CC Tv & Camera</a></li>
                        <li><a href="#!"><span><img src="assets/img/icon/hc_03.svg" alt=""></span>Home Equipment</a></li>
                        <li><a href="#!"><span><img src="assets/img/icon/hc_04.svg" alt=""></span>Tv & Audios</a></li>
                        <li><a href="#!"><span><img src="assets/img/icon/hc_05.svg" alt=""></span>Printers & Ink</a></li>
                        <li><a href="#!"><span><img src="assets/img/icon/hc_06.svg" alt=""></span>Gaming & Fun</a></li>
                    </ul>
                </div>
                <div class="login-sign-btn">
                    <a class="thm-btn" href="account.html">
                        <span class="btn-wrap">
                            <span>Login / Sign Up</span>
                            <span>Login / Sign Up</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
