  <!-- footer start -->
  <footer class="footer img_div" data-background="assets/img/bg/footer_bg.jpg">
    <div class="newslater newslater__border pt-30 pb-30">
        <div class="container">
            <div class="newslater__two ul_li">
                <div class="newslater__content">
                    <h2 class="title">We are ready to <span>help</span></h2>
                    <p>For information Consult with our expert members</p>
                </div>
                <form class="newslater__form" action="#!">
                    <input placeholder="Enter your Email" type="text">
                    <button>Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__main pt-90 pb-90">
            <div class="row mt-none-40">
                <div class="footer__widget col-lg-3 col-md-6 mt-40">
                    <div class="footer__logo mb-20">
                        <a href="index.html"><img src="assets/img/logo/logo.svg" alt=""></a>
                    </div>
                    <p>4517 Washington Ave. Manchester, Kentucky 39495 ashington Ave. Manchester,</p>
                    <ul class="footer__info mt-30">
                        <li><i class="far fa-map-marker-alt"></i>254 Lillian Blvd, Holbrook</li>
                        <li><i class="fas fa-phone"></i>1-800-654-3210</li>
                    </ul>
                    <div class="apps-img mt-15 ul_li">
                        <div class="app mt-15">
                            <a href="#!"><img src="assets/img/icon/google_play.png" alt=""></a>
                        </div>
                        <div class="app mt-15">
                            <a href="#!"><img src="assets/img/icon/app_store.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="footer__widget col-lg-3 col-md-6 mt-40">
                    <h2 class="title">Find It Fast</h2>
                    <ul class="quick-links">
                        <li><a href="#!">Laptops & Computers</a></li>
                        <li><a href="#!">Cameras & Photography</a></li>
                        <li><a href="#!">Smart Phones & Tablets</a></li>
                        <li><a href="#!">Video Games & Consoles</a></li>
                        <li><a href="#!">TV & Audio</a></li>
                        <li><a href="#!">Gadgets</a></li>
                        <li><a href="#!">Waterproof Headphones</a></li>
                    </ul>
                </div>

                <div class="footer__widget col-lg-3 col-md-6 mt-40">
                    <h2 class="title">Quick Links</h2>
                    <ul class="quick-links">
                        <li><a href="#!">Your Account</a></li>
                        <li><a href="#!">Returns & Exchanges</a></li>
                        <li><a href="#!">Return Center</a></li>
                        <li><a href="#!">Purchase Hisotry</a></li>
                        <li><a href="#!">App Download</a></li>
                        <li><a href="#!">Latest News Blog</a></li>
                        <li><a href="#!">Shipping & Delivery</a></li>
                    </ul>
                </div>
                <div class="footer__widget col-lg-3 col-md-6 mt-40">
                    <h2 class="title">Service us</h2>
                    <ul class="category">
                        <li><a href="#!">Support Center</a></li>
                        <li><a href="#!">Term & Conditions</a></li>
                        <li><a href="#!">Shipping</a></li>
                        <li><a href="#!">Privacy Policy</a></li>
                        <li><a href="#!">Help</a></li>
                        <li><a href="#!">Products Return</a></li>
                        <li><a href="#!">FAQS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom ul_li_center">
            <div class="footer__copyright mt-15">
                &copy; 2022 <a href="#!">Themexriver</a> . All Rights Reserved.
            </div>
            <div class="footer__social mt-15">
                <a href="#!"><i class="fab fa-facebook-f"></i></a>
                <a href="#!"><i class="fab fa-twitter"></i></a>
                <a href="#!"><i class="fab fa-instagram"></i></a>
                <a href="#!"><i class="fab fa-youtube"></i></a>
                <a href="#!"><i class="fab fa-pinterest"></i></a>
            </div>
            <div class="payment_method mt-15">
                <img src="assets/img/bg/payment_method.png" alt="">
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
